# Created by .ignore support plugin (hsz.mobi)
### Node template
# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/


# typecscript compiled files
src/**/*.js
src/**/*.js.map


# API Key for testing
TESTING_ERRLOGIO_API_KEY